{% extends 'base.html' %}

{% block title %}

Details for {{ object.name }} | The GetaWay

{% endblock %}


{% block content %}

<h1>To Do List details Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">
            {{ stuff.name }}-<span class="{{ stuff.color }}-text">{{stuff.description.capitalize}}</span>
        </span>
    </div>
    <div class="card-action">
        <a href="{% url 'stuffs_update' object.id %}">Update</a>
        <a href="{% url 'stuffs_delete' object.id %}">Delete</a>
    </div>
</div>

{% endblock %}